[Unit]
Description=Rate Service
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/workspace
ExecStart=/go/bin/rate

[Install]
WantedBy=multi-user.target
