[Unit]
Description=Review Service
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/workspace
ExecStart=/go/bin/review

[Install]
WantedBy=multi-user.target
