[Unit]
Description=Social Social Graph Service
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/social-network-microservices
ExecStart=/usr/local/bin/SocialGraphService
TimeoutStartSec=60
TimeoutStopSec=60
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
