/jaeger
/movie-id-mongodb
/user-mongodb
/review-storage-mongodb
/user-review-mongodb
/movie-review-mongodb
/cast-info-mongodb
/plot-mongodb
/movie-info-mongodb
/movie-id-memcached
/user-memcached
/compose-review-memcached
/review-storage-memcached
/cast-info-memcached
/plot-memcached
/movie-info-memcached
/rating-redis
/user-review-redis
/movie-review-redis
/unique-id-service
/movie-id-service
/text-service
/rating-service
/user-service
/compose-review-service
/review-storage-service
/user-review-service
/movie-review-service
/cast-info-service
/plot-service
/movie-info-service
/nginx-web-server


/vmlinux-*

**/*.ext4
