[Unit]
Description=Media Movie Review Service
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/media-microservices
ExecStart=/usr/local/bin/MovieReviewService
TimeoutStartSec=60
TimeoutStopSec=60
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
