/social-graph-service
/compose-post-service
/post-storage-service
/user-timeline-service
/url-shorten-service
/user-service
/media-service
/text-service
/unique-id-service
/user-mention-service
/home-timeline-service

/nginx-thrift
/media-frontend
/jaeger-agent

/social-graph-redis
/home-timeline-redis
/user-timeline-redis

/social-graph-mongodb
/post-storage-mongodb
/user-timeline-mongodb
/url-shorten-mongodb
/user-mongodb
/media-mongodb

/post-storage-memcached
/url-shorten-memcached
/user-memcached
/media-memcached


/vmlinux-*

**/*.ext4
